<VirtualHost 127.0.0.1:80 {{ network.ip_alias_1 }}:80>
    ServerName {{ nextcloud.sitename }}
    DocumentRoot /var/www/nextcloud/

    # log files
    ErrorLog ${APACHE_LOG_DIR}/{{ nextcloud.sitename }}-error.log
    CustomLog ${APACHE_LOG_DIR}/{{ nextcloud.sitename }}-access.log custom_combined

    <Directory /var/www/nextcloud/>
        Options +FollowSymlinks
        AllowOverride All

        <IfModule mod_dav.c>
            Dav off
        </IfModule>

        SetEnv HOME /var/www/nextcloud
        SetEnv HTTP_HOME /var/www/nextcloud
    </Directory>
</VirtualHost>