domain = "consul"
datacenter = "balder"

data_dir = "/opt/consul"

client_addr = "127.0.0.1 {{ network.ip }}"

enable_local_script_checks = true

server = true
bootstrap_expect = 1
bind_addr = "127.0.0.1"
retry_join = ["127.0.0.1"]

ui_config {
  enabled = true
}

acl {
  enabled = false
  // allow everything
  default_policy = "deny"

  // Tokens are persisted to disk and reloaded when an agent restarts.
  enable_token_persistence = true
}

dns_config {
  // Omit servers in warning, from DNS responses
  only_passing = true
}

ports {
  grpc = 8502
}

recursors = ["{{ network.dns }}","1.1.1.1"]
