domain = "consul"
datacenter = "knahrvorn"

data_dir = "/opt/consul"

client_addr = "{{ network.ip }} 127.0.0.1"

enable_local_script_checks = true

server = true
bootstrap_expect = 1
bind_addr = "{{ network.ip }}"
retry_join = ["10.10.10.80"]

ui_config {
  enabled = true
}

acl {
  enabled = false
  // allow everything
  default_policy = "deny"

  // Tokens are persisted to disk and reloaded when an agent restarts.
  enable_token_persistence = true
}

dns_config {
  // Omit servers in warning, from DNS responses
  only_passing = true
}

ports {
  grpc = 8502
}

recursors = ["{{ network.dns }}","1.1.1.1"]
