services = [
  {
    name = "pg-slave"
    id   = "pg-slave-{{ item.name }}-{{ rand_suffix }}"
    tags = ["{{ item.name }}"]
    port = {{ item.port }}

    check = {
      name     = "PostgreSQL Slave Check"
      args     = ["bash", "-c", "PGUSER={{ postgres.user }} PGPASSWORD={{ postgres.pass}} psql -h knahrvorn-eno1 -p {{ item.port }} -tAc \"SELECT pg_is_in_recovery();\" | grep -q t"]
      interval = "10s"
      timeout  = "2s"
    }
  }
]
