#
# /etc/systemd/system/tiddlywiki.service
# sudo systemctl start tiddlywiki
# sudo systemctl enable tiddlywiki
#

[Unit]
Description=TiddlyWiki
After=syslog.target

[Service]
SyslogIdentifier=tiddlywiki
Restart=always
User=nobody
Group=nogroup
StandardOutput=syslog
EnvironmentFile=/etc/tiddlywiki.conf
ExecStart=/usr/local/bin/tiddlywiki $WIKI --listen port=${PORT} \
    host=${HOST} \
    username=${WIKI_USERNAME} \
    password=${WIKI_PASSWORD}

[Install]
WantedBy=multi-user.target