# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
allow-hotplug eno1
iface eno1 inet static
        address {{ network.ip }}/24
        gateway {{ network.gateway }}
        # dns-* options are implemented by the resolvconf package, if installed
        dns-nameservers {{ network.dns }}
        dns-search {{ network.dns_search }}

allow-hotplug enp4s0f0
iface enp4s0f0 inet static
        address 10.100.1.2/30
