ALTER USER 'root'@'localhost' IDENTIFIED BY '{{ mysql.root_password }}';
DELETE FROM mysql.global_priv WHERE User='';
DELETE FROM mysql.global_priv WHERE User='root' AND Host NOT IN ('localhost', '127.0.0.1', '::1');
DROP DATABASE IF EXISTS test;
DELETE FROM mysql.db WHERE Db='test' OR Db='test\\_%';
CREATE DATABASE IF NOT EXISTS nextcloud;
DROP USER IF EXISTS 'nextcloud'@'localhost';
CREATE USER 'nextcloud'@'localhost' IDENTIFIED BY '{{ mysql.nextcloud_password }}';
GRANT ALL PRIVILEGES ON nextcloud.* TO nextcloud@localhost;
FLUSH PRIVILEGES;
