#!/bin/bash

set -e

function _time {
    echo $(date +%H.%M.%S)
}

# Power on the backup server.
curl -s -X POST '{{ scripts.backup_url }}' -d 'mac_address={{ scripts.mac }}'
exit_code=$?
if [ $exit_code -ne 0 ]; then
    echo "Calling server wakeup failed: $exit_code"
    exit 1
fi

# Check if the server is available
for i in {1..5}
do
    result=$(sudo -S -E ssh -n \
        -o ConnectTimeout=3 \
        -o StrictHostKeyChecking=accept-new \
        {{ scripts.backup_user }} -p 22 >/dev/null 2>&1 && echo 1 || echo 0)
    if [ "$result" -eq 1 ]; then
        break
    fi 
    sleep 90
done

# All attempts to wakeup server failed
if [ "$result" -ne 1 ]; then
    echo "Backup server is not ready, bailing out."
    exit 1
fi

echo -e "\n\nMySQL backup $(_time) ..."
sudo mkdir -p /usr/local/mysqlbackup
sudo mysqldump -u root nextcloud |sudo tee /usr/local/mysqlbackup/nextcloud.sql >/dev/null
sudo -S -E rsync -av --delete --numeric-ids -e "ssh" "/usr/local/mysqlbackup" "{{ scripts.backup_user }}:/mnt/tank/knahrvorn"

echo -e "\nanime backup $(_time) ..."
sudo -S -E rsync -av --delete --numeric-ids -e "ssh" "/mnt/nas1/plex/anime" "{{ scripts.backup_user }}:/mnt/tank/knahrvorn"

echo -e "\ncamera backup $(_time) ..."
sudo -S -E rsync -av --delete --numeric-ids -e "ssh" "/mnt/nas1/plex/camera" "{{ scripts.backup_user }}:/mnt/tank/knahrvorn"

echo -e "\nchildren backup $(_time) ..."
sudo -S -E rsync -av --delete --numeric-ids -e "ssh" "/mnt/nas1/plex/children" "{{ scripts.backup_user }}:/mnt/tank/knahrvorn"

echo -e "\ndocumentaries backup $(_time) ..."
sudo -S -E rsync -av --delete --numeric-ids -e "ssh" "/mnt/nas1/plex/documentaries" "{{ scripts.backup_user }}:/mnt/tank/knahrvorn"

echo -e "\netc backup $(_time) ..."
sudo -S -E rsync -av --delete --numeric-ids -e "ssh" "/etc" "{{ scripts.backup_user }}:/mnt/tank/knahrvorn"

echo -e "\nexport backup $(_time) ..."
sudo -S -E rsync -a --delete --numeric-ids -e "ssh" "/export" "{{ scripts.backup_user }}:/mnt/tank/knahrvorn"

echo -e "\nhome backup $(_time) ..."
sudo -S -E rsync -av --delete --numeric-ids -e "ssh" "/home" "{{ scripts.backup_user }}:/mnt/tank/knahrvorn"

echo -e "\nmovies backup $(_time) ..."
sudo -S -E rsync -av --delete --numeric-ids -e "ssh" "/mnt/nas1/plex/movies" "{{ scripts.backup_user }}:/mnt/tank/knahrvorn"

echo -e "\nmusic backup $(_time) ..."
sudo -S -E rsync -av --delete --numeric-ids -e "ssh" "/mnt/nas1/plex/music" "{{ scripts.backup_user }}:/mnt/tank/knahrvorn"

echo -e "\nplexmediaserver backup $(_time) ..."
sudo -S -E ssh {{ scripts.backup_user }} -p 22 "mkdir -p /mnt/tank/knahrvorn/plexmediaserver"
sudo -S -E rsync -a --delete --numeric-ids -e "ssh" "/var/lib/plexmediaserver/Library/Application Support/Plex Media Server/" \
    "{{ scripts.backup_user }}:/mnt/tank/knahrvorn/plexmediaserver"

echo -e "\nnas1 backup $(_time) ..."
sudo -S -E rsync -a --delete --numeric-ids --exclude=plex --exclude=tmp --exclude=volumes \
    -e "ssh" "/mnt/nas1" "{{ scripts.backup_user }}:/mnt/tank/knahrvorn"

echo -e "\nseries backup $(_time) ..."
sudo -S -E rsync -av --delete --numeric-ids -e "ssh" "/mnt/nas1/plex/series" "{{ scripts.backup_user }}:/mnt/tank/knahrvorn"

echo -e "\nwww backup $(_time) "
sudo -S -E rsync -av --delete --numeric-ids -e "ssh" "/var/www" "{{ scripts.backup_user }}:/mnt/tank/knahrvorn"

snapshot=tank/knahrvorn@$(date +\%Y-\%m-\%d)
echo -e "\nCreate ZFS snapshot $snapshot"
sudo -S -E ssh {{ scripts.backup_user }} "zfs snapshot $snapshot"

echo -e "\nPruning old snapshots"
sudo -S -E ssh {{ scripts.backup_user }} -p 22 "zfs list -t snapshot -o name -s creation | grep 'tank/knahrvorn@' \
    | sed -e :a -e '$d;N;2,14ba' -e 'P;D' \
    | xargs -r -n 1 zfs destroy -r"

sudo -S -E ssh {{ scripts.backup_user }} -p 22 "zpool status"

# Shutdown backup server
sudo -S -E ssh {{ scripts.backup_user }} -p 22 "shutdown -p now"

echo -e "\nFinished at:  $(_time)"
