client {
  host_network "ingress" {
    interface = "eno1"
  }

  host_network "gateway001" {
    cidr = "{{ network.ip_alias_0 }}/32"
  }

  host_network "gateway002" {
    cidr = "{{ network.ip_alias_1 }}/32"
  }

}
